* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

main {
  padding-top: 80px;
}

body,
html,
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f8f9fa;
}

section {
  margin: 10% auto;
}
@media screen and (max-width: 768px) {
  section {
    margin: 15% auto;
  }
}
@media screen and (max-width: 480px) {
  section {
    margin: 20% auto;
  }
}
section:first-child {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
}

#header {
  height: 80px;
}
@media screen and (max-width: 992px) {
  #header {
    height: 72px;
  }
}
@media screen and (max-width: 768px) {
  #header {
    height: 64px;
  }
}
@media screen and (max-width: 480px) {
  #header {
    height: 56px;
  }
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 62.4px;
  color: #212529;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 43.2px;
    line-height: 57.6px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 38.4px;
    line-height: 52.8px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 33.6px;
    line-height: 48px;
  }
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 49.4px;
  color: #212529;
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 34.2px;
    line-height: 45.6px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 30.4px;
    line-height: 41.8px;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 26.6px;
    line-height: 38px;
  }
}

h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 32.5px;
  color: #212529;
}
@media screen and (max-width: 992px) {
  h3 {
    font-size: 22.5px;
    line-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 27.5px;
  }
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 17.5px;
    line-height: 25px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #212529;
}
@media screen and (max-width: 992px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 480px) {
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
}

h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: #212529;
}
@media screen and (max-width: 992px) {
  h5 {
    font-size: 14.4px;
    line-height: 19.2px;
  }
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 12.8px;
    line-height: 17.6px;
  }
}
@media screen and (max-width: 480px) {
  h5 {
    font-size: 11.2px;
    line-height: 16px;
  }
}

h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: #212529;
}
@media screen and (max-width: 992px) {
  h6 {
    font-size: 14.4px;
    line-height: 19.2px;
  }
}
@media screen and (max-width: 768px) {
  h6 {
    font-size: 12.8px;
    line-height: 17.6px;
  }
}
@media screen and (max-width: 480px) {
  h6 {
    font-size: 11.2px;
    line-height: 16px;
  }
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #212529;
}
@media screen and (max-width: 992px) {
  p {
    font-size: 14.4px;
    line-height: 19.2px;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 12.8px;
    line-height: 17.6px;
  }
}
@media screen and (max-width: 480px) {
  p {
    font-size: 11.2px;
    line-height: 16px;
  }
}

button {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #212529;
}
@media screen and (max-width: 992px) {
  button {
    font-size: 14.4px;
    line-height: 19.2px;
  }
}
@media screen and (max-width: 768px) {
  button {
    font-size: 12.8px;
    line-height: 17.6px;
  }
}
@media screen and (max-width: 480px) {
  button {
    font-size: 11.2px;
    line-height: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button {
  transition: all 0.3s;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
a span,
p span,
button span {
  color: #ffc107;
}

#header {
  width: 100%;
  background-color: #007bff;
  color: #fff;
}
#header .header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header__logo img {
  width: 100%;
}
#header .header__navbar {
  width: 50%;
}
#header .header__navbar .header__list {
  display: flex;
  justify-content: space-between;
}
#header .header__navbar .header__item .header__link {
  color: #fff;
}
#header .header__burger {
  display: none;
}

@media screen and (max-width: 992px) {
  #header .header__navbar {
    position: fixed;
    padding: 50px 40px;
    width: 100%;
    height: 0%;
    top: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    overflow-y: auto;
    background-color: #343a40;
    transition: all 0.5s;
  }
  #header .header__navbar.open {
    opacity: 1;
    top: 0;
    height: 100%;
  }
  #header .header__navbar .header__list {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  #header .header__burger {
    width: 32px;
    height: 18px;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.3s;
    z-index: 50;
  }
  #header .header__burger.active span {
    transform: scale(0);
  }
  #header .header__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  #header .header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  #header .header__burger::after, #header .header__burger::before,
  #header .header__burger span {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  #header .header__burger::before {
    top: 0;
  }
  #header .header__burger::after {
    bottom: 0;
  }
}